= simple_form_for ['admin', @article], method: method do |f|
  = f.association :category, label_method: :identifier
  = f.input :title
  = f.input :picture
  = f.input :published
  = f.submit

= link_to "Sections", admin_article_sections_path(@article)
