.article-show
  .title
    %h1= @article.title
    %h2.pull-left.date= "publié le #{ l @article.created_at }"
    .clearfix
  .picture= image_tag @article.picture(:thumb)
  - @article.sections.order('created_at DESC').each do |section|
    .section
      - if section.title.present?
        %h3= section.title
      - if section.picture.present?
        .body= image_tag(section.picture(:thumb))
        - if section.legend.present?
          .legend= section.legend
      - else
        %p= section.body.html_safe

= render :partial => "shared/disqus", :locals => { title: @article.title }