.pull-left.logo= image_tag('icons/header-astroboy.png')

.menu
  .title= link_to 'SKARADAMS', root_path
  .menu-items
    .item= link_to 'blog', articles_path
    .item= link_to 'qui suis-je ?', root_path
    .item= link_to 'contact', root_path
