!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = meta_tags :open_graph, :twitter
  %body
    .container
      .wrapper
        .header
          = render partial: "layouts/header"
              
        .content
          - if flash[:notice]
            .server-message.notice= flash[:notice]
          - if flash[:error]
            .server-message.error= flash[:error]

          = render partial: "admin/home/menu" if admin_controller? params
          = yield

        .footer
          .foot-wrapper
            .pull-left.info Copyright © 2013 - 

            .pull-left= link_to "Skaradams", root_path
            .clearfix
            .links
              .pull-left.link= link_to image_tag('icons/twitter-icon.png'), 'http://www.twitter.com/skaradams'
              .pull-left.link= link_to image_tag('icons/github-icon.png'), 'http://www.github.com/skaradams'

        = render partial: 'layouts/analytics'     
    .blogroll.dropup.pull-right
      %a#dLabel.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", href: request.original_url, role: "button"}
        Blogs à suivre
        %b.caret
      %ul.dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
        - if @blogs.present?
          - @blogs.each do |blog|
            %li= link_to blog.name, "http://#{blog.link}", target: "_blank"       