!!!
%html
  %head
    %title Skaradams
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .wrapper
        .header
          = render partial: "layouts/header"
        
        .content
          .notice= flash[:notice]
          .error= flash[:error] 
          = render partial: "admin/home/menu" if admin_controller? params
          = yield